.passfield-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

h1 {
    padding-bottom: 20px;
    font-size: 28px;
}

#password {
    border: 2px solid black;
    outline-color: blue;
    padding: 5px 7px;
    font-size: larger;
    transition: .3s;
}
